/* Import the Suwannaphum font */
@import url("https://fonts.googleapis.com/css2?family=Suwannaphum&display=swap");

/* Import the Kantumruy Pro font */
@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Kantumruy Pro', sans-serif;
}
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .animate-fade-in-delayed {
    animation: fadeIn 0.5s ease-in-out 0.2s;
  }